/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 37, ../../_sass/screen.scss */
.hex-group {
  position: absolute;
  top: 470px;
  left: 60%;
  width: 250px;
  margin: 0px;
  font-size: 0;
  text-align: center;
  z-index: -5;
  overflow: visible;
}

/* line 44, ../../_sass/screen.scss */
.hex {
  display: inline-block;
  position: relative;
  width: 76px;
  height: 43.87862px;
  margin: 21.93931px 2px 3.4641px;
  color: rgba(255, 255, 255, 0.75);
  background-color: var(--main-bg-color);
  font: 40px/43.87862px sans-serif;
  vertical-align: middle;
  text-transform: uppercase;
  z-index:-5;

  animation-name: pulse;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
/* line 58, ../../_sass/screen.scss */
.hex::before, .hex::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -5;
  width: 53.74012px;
  height: 53.74012px;
  background-color: inherit;
  transform-origin: 0 0;
  transform: scaleY(0.57735) rotate(-45deg);
}
/* line 70, ../../_sass/screen.scss */
.hex::before {
  top: 0;
}
/* line 74, ../../_sass/screen.scss */
.hex::after {
  top: 43.87862px;
}
/* line 78, ../../_sass/screen.scss */
.hex:nth-of-type(4n) {
  animation-delay: 0s;
}
/* line 82, ../../_sass/screen.scss */
.hex:nth-of-type(4n + 1) {
  animation-delay: -5s;
}
/* line 86, ../../_sass/screen.scss */
.hex:nth-of-type(4n + 2) {
  animation-delay: -10s;
}

/* line 91, ../../_sass/screen.scss */
.spacer {
  display: inline-block;
  width: 80px;
}

@keyframes pulse {
  0% {
    background-color: var(--main-bg-color);
  }
  25% {
    background-color: #55636e;
  }
  50% {
    background-color: #444;
  }
  75%{
    background-color: var(--main-bg-color);
  }
}
