<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-0d" style="position: relative">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">

      <!-- <div class="masthead" style="background-color: inherit; border: none">
        <div class="container" style="background-color: inherit; border: none">
          <h2 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h2>
        </div>
      </div> -->
      <div id="hex-strap" class="hex-group fade-in" style="animation-delay: 2.5s"></div>

      <div id="faces">

        <div class="face center">
          <img src="icons\my_face\01ConnerFaceBWTrans.png">
        </div>

        <div id="id-1" class="center">
          <img src="icons\my_face\ConnerFaceSunset.png">
        </div>

        <div id="id-2" class="center">
          <img src="icons\my_face\ConnerFaceSpace.png">
        </div>

      </div>

      <div id="home-container" class="container content off-center">

        <div id="home-name" class="center">
            <h1 style="font-size: 300%; margin-top:15px"><a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a></h1>
        </div>

        <div id="home-tagline" class="center">
          {{ site.tagline }}
        </div>

        <br>
          {{ content }}
        <br>

      </div>

      <br>
    </div>
    <br>

    <script>
      var hexHeight = 1.7*43.87862;
      var clientHeight = document.getElementById('home-container').clientHeight;
      var node = document.getElementById('hex-strap');


      var i;
      for(i = 0; i < (clientHeight/hexHeight); i++){
        if(i%2 < 1){
          var limit = 3;
        } else{
          var limit = 2;
        }
        var j;
        for(j = 0; j < limit; j++){
          var newNode = document.createElement('div');
          newNode.setAttribute('class','hex');
          node.appendChild(newNode);
        }
        var br = document.createElement('br');
        node.appendChild(br);
      }

    </script>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>

      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
  </body>
</html>
